.App {
  text-align: center;
}

.Main {
  background-image: url("../../../images/starry_sky_background.jpeg");
  background-size: cover;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header {
  background-color: rgb(31, 31, 181);
}

.moviesContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movies {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 3px;
  align-items: center;
  word-wrap: inherit;
}

.detail-page {
  padding-bottom: 15px;
}

img {
  object-fit: contain;
  width: 200px;
  height: 300px;
  cursor: pointer;
}